* {
  box-sizing: border-box;
  border: 1px solid green;
}

body,
div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding:0;
  margin:0;
  font-family: "Fairplay Display", sans-serif;
  color: #282827;
}

body {
  background-color: #282827;
}

.container-div {
  box-shadow: 5px 0 0 0 rgba(0, 0, 0, 0.82);
  box-shadow: -2px 8px 20px 18px rgba(0, 0, 0, 0.1);
}

.clear-fix {
  overflow: auto;
}

.education-entry,
.work-entry,
.project-entry {
  padding: 0 5%;
}

#topContacts {
  margin-top: 68px;
}

h1 {
  font-size: 40px;
  color: #771D00;
  line-height: 48px;
  display: inline;
}

h2 {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  padding: 10px;
  color: #771D00;
}

h3 {
  font-style: italic;
  font-size: 20px;
  color: #000;
  line-height: 22px;
}

h4 {
  font-weight: bold;
  font-size: 14px;
  color: #4a4a4a;
  line-height: 17px;
}

h2,
h3,
h4,
h5 {
  padding:10px 5%;

}

h1 {
  font-family: "Lobster";
}

h1 #name:hover {
  box-shadow: inset 0 -2px #771D00, 0 0px #771D00;
  transform: translateY(-2px);
  transition: 0.3s ease-in;
}

h2 span {
  font-family: "Lobster";
  font-size: 24px;
  color: #e25d33;
}

h2 span:hover {
  box-shadow: inset 0 -2px #e25d33, 0 0px #e25d33;
  transform: translateY(-2px);
  transition: 0.3s ease-in;
}

/*h2:hover {
  transform: translateY(-2px);
  transition: 0.3s ease-in;
}*/

.nav-div {
  width: 100%;
  display: flex;
  position: fixed;
  z-index: 100;
  margin-bottom: 10px;
  font-family: "Lobster";
}

.nav-bar li {
  display: inline-block;
  font-family: "Lobster";
}

.nav-bar li:hover {
  transform: translateY(-2px);
  transition: 0.3s ease-in;
}

.right-nav li:hover {
  /*box-shadow: inset 0 -2px #e25d33, 0 0px #e25d33;*/
  transform: translateY(-2px);
  transition: 0.3s ease-in;
}

.right-nav span:hover {
  box-shadow: inset 0 -2px #e25d33, 0 0px #e25d33;
  transform: translateY(-2px);
  transition: 0.3s ease-in;
}

.nav-item a {
  display: inline;
}

.date-text {
  font-style: italic;
  font-size: 14px;
  color: #e25d33;
  line-height: 16px;
  float: left;
}

.location-text {
  font-style: italic;
  font-size: 14px;
  color: #e25d33;
  line-height: 16px;
  float: right;

}

p {
  font-size: 1em;
  /*line-height: 21px;*/
}

a {
  text-decoration: none;
  margin-top: 10px;
  display: block;
  font-size: 1em;
}

.welcome-message {
  font-style: italic;
  font-size: 18px;
  color: #f3f3f3;
  line-height: 28px;
}

#workExperience span,
#workExperience a,
#workExperience p {
  /*color: #87D8AF;*/
}

#skills-h3 {
  color: #e25d33;
  display: none;
}

ul#skills.flex-box {
  text-align: left;
  display: inline block;
}

.orange {
  background-color: #e25d33;
}

.orange-text {
  color: #e25d33;
  font-family: "Lobster";
}

.white-text {
  font-weight: bold;
  color: #fff;
  font-family: "Fairplay Display";
}

.gray {
  background-color: #f3f3f3;
  padding-bottom: 10px;
  clear:both;
}

.dark-gray {
  background-color: #4a4a4a;
}

/* TODO: Replace with image later */
#header {
  background-color: #87D8AF;
}

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.center-content {
  padding: 2.5% 5%;
}

ul {
  list-style-type: none;

}

li {
  text-decoration: none;
  list-style-type: none;
}

.biopic {
  float: left;
  padding: 10px;
  width: 200px;
  display: none;
}

img {
  padding: 10px;
}

.project-img {
  width: 450px;
}

.project-img:hover {
  box-shadow: inset 0 -2px #fff, 0 0px #fff;
  transform: translateY(-2px);
  transition: 0.3s ease-in;
}

span {
  padding: 5px;
  /*text-transform: uppercase;*/
}

a span {
  color: #B23811;
}

.navA,
.role {
  position: relative;
  text-align: left;
  left: 5%;
  font-family: "Fairplay Display";
}

.navA span:hover {
  box-shadow: inset 0 -2px #771D00, 0 0px #771D00;
  transform: translateY(-2px);
  transition: 0.3s ease-in;
}

.navB,
.navC,
.navD,
.navE {
  text-align: right;
  position: relative;
  margin: 0 18px 0 18px;
  left: 5%;
}

.right-nav {
  text-align: right;
  width: 66%;
}

.nav li span {
  color: #e25d33;
}

/*.nav li span:hover {
  box-shadow: inset 0 -2px #fff, 0 0px #fff;
  transform: translateY(-2px);
  transition: 0.3s ease-in;
}*/

#lets-connect {
  text-align: center;
}

.nav-bar {
  display: inline flex;
  padding: 8px 0;
  background-color: rgba(255, 255, 255, 0.85);
/*  text-align: right;*/
  width: 100%;
  vertical-align: baseline;
  box-shadow: 
}

/* Media queries to handle various device widths */

@media only screen and (max-width: 1024px) {
  #lets-connect {
    margin-top: 5%;
  }
}

@media only screen and (max-width: 970px) {
  span,
  a,
  p,
  em {
    font-size: 12px;
    font-weight: 700;
    /*text-transform: uppercase;*/
  }
}

@media only screen and (max-width:900px) {
  .biopic {
    width: 175px;
  }

  .project-img {
    width: 200px;
  }
}

@media only screen and (max-width: 850px) {
  .nav-bar {
    justify-content: center;
  }

  .right-nav {
    width: 100%;
  }
}

@media only screen and (max-width: 750px) {
  #lets-connect {
    margin-top: 10%;
  }
  .biopic {
    width: 150px;
  }
  .welcome-message {
    display: none;
  }
}

#map {
  display: block;
  height: 100%;
  margin: 0 5%;
}

#mapDiv {
  height: 400px;
  width: 100%;
  padding-bottom: 5%;
  margin: auto;
}

@media only screen and (min-width: 750px) {
  #skills-h3,
  .biopic {
    display: block;
  }
}