* {
  box-sizing: border-box;
  border: 1px solid green;
}

body,
div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding:0;
  margin:0;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #444;
}

.container-div {
  /*box-shadow: 5px 0 0 0 rgba(0, 0, 0, 0.22);*/
  box-shadow: -2px 8px 20px 18px rgba(0, 0, 0, 0.1);
}

.clear-fix {
  overflow: auto;
}

.education-entry,
.work-entry,
.project-entry {
  padding: 0 5%;
}

#topContacts {
  margin-top: 50px;
}

h1 {
  font-size: 40px;
  color: #f5a623;
  line-height: 48px;
  display: inline;
}

h2 {
  font-weight: bold;
  font-size: 24px;
  color: #999;
  line-height: 29px;
  padding: 10px;
}



h3 {
  font-style: italic;
  font-size: 20px;
  color: #000;
  line-height: 22px;
}

h4 {
  font-weight: bold;
  font-size: 14px;
  color: #4a4a4a;
  line-height: 17px;
}

h2,
h3,
h4,
h5 {
  padding:10px 5%;

}

#name:hover {
  box-shadow: inset 0 -2px #fff, 0 0px #fff;
  transform: translateY(-2px);
  transition: 0.3s ease-in;
}

h2 span:hover {
  box-shadow: inset 0 -2px #fff, 0 0px #fff;
  transform: translateY(-2px);
  transition: 0.3s ease-in;
}

h2:hover {
  transform: translateY(-2px);
  transition: 0.3s ease-in;
}

.nav-div {
  width: 100%;
  display: flex;
  position: fixed;
  z-index: 100;
  margin-bottom: 10px;
  font-family: "Lobster";
}

.nav-bar li {
  display: inline-block;
  font-family: "Lobster";
}

.nav-item a {
  display: inline;
}

.date-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  float: left;
}

.location-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  float: right;

}

p {
  font-size: 14px;
  color: #333;
  line-height: 21px;
}

a {
  color: #1199c3;
  text-decoration: none;
  margin-top: 10px;
  display: block;
}

.welcome-message {
  font-style: italic;
  font-size: 18px;
  color: #f3f3f3;
  line-height: 28px;
}

#skills-h3 {
  color: #f5ae23;
  display: none;
}

ul#skills.flex-box {
  text-align: left;
  display: inline block;
}

.orange {
  background-color: #FB8C00;
}

.orange-text {
  color: #FB8C00;
}

.white-text {
  font-weight: bold;
  color: #fff;
}

.gray {
  background-color: #f3f3f3;
  padding-bottom: 10px;
  clear:both;
}

.dark-gray {
  background-color: #4a4a4a;
}

/* TODO: Replace with image later */
#header {
  background-color: #484848;
}

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.center-content {
  padding: 2.5% 5%;
}

ul {
  list-style-type: none;

}

li {
  text-decoration: none;
  list-style-type: none;
}

.biopic {
  float: left;
  padding: 10px;
  width: 200px;
  display: none;
}

img {
  padding: 10px;
}

.project-img {
  width: 450px;
}

.project-img:hover {
  box-shadow: inset 0 -2px #fff, 0 0px #fff;
  transform: translateY(-2px);
  transition: 0.3s ease-in;
}

span {
  padding: 5px;
  /*text-transform: uppercase;*/
}



.navA,
.role {
  position: relative;
  text-align: left;
  left: 5%;
  font-family: "Lobster";
}

.navB,
.navC,
.navD,
.navE {
  text-align: right;
  position: relative;
  margin: 0 18px 0 18px;
  left: 5%;
}
.left-nav {
  text-align: right;
}

.nav li span:hover {
  box-shadow: inset 0 -2px #fff, 0 0px #fff;
  transform: translateY(-2px);
  transition: 0.3s ease-in;
}

#lets-connect {
  text-align: center;
}

.nav-bar {
  display: inline flex;
  padding: 8px 0;
  opacity: 1.0;
  background-color: #bbb;
/*  text-align: right;*/
  width: 100%;
}

/* Media queries to handle various device widths */

@media only screen and (max-width: 1024px) {
  #lets-connect {
    margin-top: 5%;
  }
}

@media only screen and (max-width:900px) {
  .biopic {
    width: 175px;
  }

  .project-img {
  width: 200px;
}
}

@media only screen and (max-width: 750px) {
  #lets-connect {
    margin-top: 10%;
  }
  .biopic {
    width: 150px;
  }
  .welcome-message {
    display: none;
  }
}

#map {
  display: block;
  height: 100%;
  margin: 0 5%;
}

#mapDiv {
  height: 400px;
  width: 100%;
  padding-bottom: 5%;
}

@media only screen and (min-width: 750px) {
  #skills-h3,
  .biopic {
    display: block;
  }
}