/*forest #04202C (Black-ish)
  evergreen #304040 (dark green)
  pine #5b7065 (grey)
  fog #c9d1c8 (light-grey)
  deep aqua #128277 */

/*terracotta #D24136 (orange-red)
  honey #EB8A3E (Orange-ish)
  biscotti #EBB582 (Yellow-ish)
  Stone #785A46 (Dark Grey) */

* {
  box-sizing: border-box;
  /*border: 1px solid green;*/
}

body,
div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding:0;
  margin:0;
  font-family: "Fairplay Display", sans-serif;
  color: #304040;
}

body {
  background-color: #304040;
}

.container-div {
  box-shadow: 5px 0 0 0 rgba(0, 0, 0, 0.82);
  box-shadow: -2px 8px 20px 18px rgba(0, 0, 0, 0.1);
}

.clear-fix {
  overflow: auto;
}

.education-entry,
.work-entry,
.project-entry {
  padding: 0 5%;
}

#topContacts {
  margin-top: 68px;
}

h1 {
  font-size: 40px;
  color: #04202C;
  line-height: 48px;
  display: inline-block;
}

h2 {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  padding: 10px;
  color: #04202C;
}

h3 {
  font-style: italic;
  font-size: 20px;
  color: #000;
  line-height: 22px;
}

h4 {
  font-weight: bold;
  font-size: 14px;
  color: #4a4a4a;
  line-height: 17px;
}

h2,
h3,
h4,
h5 {
  padding:10px 5%;

}

h1 {
  font-family: "Lobster";
}

h1 #name:hover {
  box-shadow: inset 0 -2px #04202C, 0 0px #04202C;
  transform: translateY(-2px);
  transition: 0.3s ease-in;
}

h2 span {
  font-family: "Lobster";
  font-size: 24px;
  color: #5b7065;
}

h2 span:hover {
  box-shadow: inset 0 -2px #5b7065, 0 0px #5b7065;
  transform: translateY(-2px);
  transition: 0.3s ease-in;
}

/*h2:hover {
  transform: translateY(-2px);
  transition: 0.3s ease-in;
}*/

#header {
  background-color: #304040;
  margin-top: 0;
  margin-left: 0;
}

/*****************The Nav Starts Here*********************/

.nav-bar {
  display: inline-block;
  padding: 8px 0;
  background-color: rgba(255, 255, 255, 0.85);
  text-align: left;
  width: 100%;
  vertical-align: middle;
  position: fixed;
  z-index: 100;
  margin-left: 0;
  margin-bottom: 10px;
  font-family: "Lobster";
  top: 0;
  left: 0;
}

.nav-bar li {
  /*display: inline-block;*/
  font-family: "Lobster";
}

.nav-bar li:hover {
  transform: translateY(-2px);
  transition: 0.3s ease-in;
}

.nav-list {
  /*display: inline-flex;*/
}

.left-nav {
  position: relative;
  text-align: left;
  width: 33.3%;
  height: 100%;
  float: left;
}

.right-nav {
  position: inherit;
  text-align: right;
  width: 66.6%;
  height: 100%;
  float: right;
}

.nav li span {
  color: #5b7065;
}

.right-nav li:hover {
  /*box-shadow: inset 0 -2px #EB8A3E, 0 0px #EB8A3E;*/
  transform: translateY(-2px);
  transition: 0.3s ease-in;
}

.right-nav span:hover {
  box-shadow: inset 0 -2px #5b7065, 0 0px #5b7065;
  transform: translateY(-2px);
  transition: 0.3s ease-in;
}

.navA,
.role {
  position: relative;
  text-align: left;
  font-family: "Fairplay Display";
  color: #785A46;
  float: left;
}

.navA span:hover {
  box-shadow: inset 0 -2px #04202C, 0 0px #04202C;
  transform: translateY(-2px);
  transition: 0.3s ease-in;
}

.navB,
.navC,
.navD,
.navE {
  text-align: right;
  position: relative;
  margin: auto 19px;
  color: #304040;
  float: right;
}

/*****************The Nav Ends Here*********************/

.date-text {
  font-style: italic;
  font-size: 14px;
  color: #EB8A3E;
  line-height: 16px;
  float: left;
}

.location-text {
  font-style: italic;
  font-size: 14px;
  color: #EB8A3E;
  line-height: 16px;
  float: right;

}

p {
  font-size: 1em;
  /*line-height: 21px;*/
}

a {
  text-decoration: none;
  margin-top: 10px;
  display: block;
  font-size: 1em;
}

.welcome-message {
  font-style: italic;
  font-size: 18px;
  color: #f3f3f3;
  line-height: 28px;
}

#workExperience span,
#workExperience a,
#workExperience p {
  /*color: #87D8AF;*/
}

#workExperience a {
  color: #04202C;
}

#skills-h3 {
  color: #5b7065;
  display: none;
}

ul#skills.flex-box {
  text-align: left;
  display: inline-block;
}

.orange {
  background-color: #5b7065;
}

.orange-text {
  color: #5b7065;
  font-family: "Lobster";
}

.white-text {
  font-weight: bold;
  color: #fff;
  font-family: "Fairplay Display";
}

.gray {
  background-color: #f3f3f3;
  padding-bottom: 10px;
  clear:both;
}

.dark-gray {
  background-color: #4a4a4a;
}

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.center-content {
  padding: 2.5% 5%;
}

ul {
  list-style-type: none;

}

li {
  text-decoration: none;
  list-style-type: none;
}

.biopic {
  float: left;
  padding: 10px;
  width: 200px;
  display: none;
}

img {
  padding: 10px;
}

.project-img {
  width: 450px;
}

.project-img:hover {
  box-shadow: inset 0 -2px #fff, 0 0px #fff;
  transform: translateY(-2px);
  transition: 0.3s ease-in;
}

#projects a {
  color: #fff;
}

span {
  padding: 5px;
  /*text-transform: uppercase;*/
}

a span {
  color: #B23811;
}

/*.nav li span:hover {
  box-shadow: inset 0 -2px #fff, 0 0px #fff;
  transform: translateY(-2px);
  transition: 0.3s ease-in;
}*/

#lets-connect {
  text-align: center;
}

/* Media queries to handle various device widths */

@media only screen and (max-width: 1024px) {
  #lets-connect {
    margin-top: 5%;
  }
}

@media only screen and (max-width: 970px) {
  span,
  a,
  p,
  em {
    font-size: 12px;
    font-weight: 700;
    /*text-transform: uppercase;*/
  }
}

@media only screen and (max-width:900px) {
  .biopic {
    width: 175px;
  }

  .project-img {
    width: 200px;
  }
}

@media only screen and (max-width: 850px) {
  .nav-bar {
    justify-content: center;
  }

  .right-nav {
    width: 100%;
  }
}

@media only screen and (max-width: 750px) {
  #lets-connect {
    margin-top: 10%;
  }
  .biopic {
    width: 150px;
  }
  .welcome-message {
    display: none;
  }
}

#map {
  display: block;
  height: 100%;
  margin: 0 5%;
}

#mapDiv {
  height: 400px;
  width: 100%;
  padding-bottom: 5%;
  margin: auto;
}

@media only screen and (min-width: 750px) {
  #skills-h3,
  .biopic {
    display: block;
  }
}